

/* .App{
  display: flex;
  background: linear-gradient(to bottom right,rgb(41, 177, 147),rgb(65, 65, 223));
} */
body::-webkit-scrollbar{
  display: none;
  border-radius: 15px;

}
.html .body #root{
  width: 100%;
  
  }

  .entity{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    background: linear-gradient(to right,#A38ED2,#F9C1EB);
    font-family: roboto;
   }

   .main{
    /* margin-left: 70px;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 70px; */
    margin: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    overflow-x: hidden;
    justify-content: center;
    border: 5px black;
    border-radius: 15px;
    height: 600px;
    width: 1300px;
    
  }
  
  .header{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 70px;
    opacity: 0.8;
    color: rgb(92, 29, 211);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    border-bottom-left-radius: calc(-15px);
    
    /* animation: animate 200s ease-in-out infinite;
    
   
    font-family: 'Lobster', cursive; */

  }
  /* @keyframes animate
  {
    from{
      text-shadow: 0 0 20px rgb(216, 235, 46);
    }
    to{
      text-shadow: 0 0 30px rgb(216, 235, 46);
      text-shadow: 0 0 10px rgb(216, 235, 46);
    }
  } */
  
  .logo{
    height: 50px;
    width: 50px;
    justify-content: center;
    padding: 10px;
  }
  .complete{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1300px;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    border: 3px black;
    
    
  }

  .container1{
    
    /* float: left; */
    
    width: fit-content;
    background-color: whitesmoke;
    height: 50%;
    opacity: 0.8;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom: 10px black;
  }
  
  
  
  .container2{
    width: 952px;
    background-color: whitesmoke;
    height:100%;
    border-bottom-right-radius: 15px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
    
    

  .navbar{
    display: flex;
    flex-direction: column;
    width:200px;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
    
   }

.inputText{
  color: rgb(0, 0, 0);
  text-align: center;
}

.button{
 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  color:black;
  background-color: whitesmoke;
  
}

.filename{
  height: 30px;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  color:black;
  font-size: 15px;
  border: 1px black;
  cursor: pointer;
  justify-content: center;

}

.label{
  margin-top: 5px;
  margin-bottom: 3px;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
 h4{
   font-size: 24px;
 } 
 h5{
   font-size: 20px;
 }
h6{
  font-size: 16px;
}
/* #markdown{
  border-radius: 5px solid rgb(106,177,141);

} */
.texteditor{
  color: rgb(106, 9, 119);
}
.output{
  color: black;
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-top: 0px;
}
.output1{
  color:black;
  height: 100%;
}
.info{
  color: black;
  /* margin-top: 700px; */
  width: 20%;

}
.textarea{
  width: 100%;
  background-color: rgb(106,177,141);
}

.App {
  text-align: center;
}
.background{
  background: linear-gradient(to right,#A38ED2,#F9C1EB);
  font-family: roboto;
  
}
.auth1{
  width: 1300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.7;
  
}
.auth{
  background-color: whitesmoke;
  height: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
  padding: 20px;
  margin-right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid black;
  
}
.illustration{
  border: 2px solid black;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 500px;
  height: 400px;
  margin: 100px;
  margin-left: 0;
}
.google{
  background: linear-gradient(to right,#A38ED2,#F9C1EB);
  border: 1px solid black;
}


