

/* .App{
  display: flex;
  background: linear-gradient(to bottom right,rgb(41, 177, 147),rgb(65, 65, 223));
} */
body::-webkit-scrollbar{
  display: none;
  

}
.html .body #root{
  width: 100%;
  
  }

  .entity{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    background: linear-gradient(to right,#A38ED2,#F9C1EB);
    font-family: roboto;
    
    
   }

   .main{
    /* margin-left: 70px;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 70px; */
    margin: 70px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    overflow-x: hidden;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    height: 600px;
    width: 1300px;
    box-shadow: 4px 4px 4px grey;
    
  }
  
  .header{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    height: 60px;
    opacity: 0.8;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
   
    
    /* animation: animate 200s ease-in-out infinite;
    
   
    font-family: 'Lobster', cursive; */

  }
  /* @keyframes animate
  {
    from{
      text-shadow: 0 0 20px rgb(216, 235, 46);
    }
    to{
      text-shadow: 0 0 30px rgb(216, 235, 46);
      text-shadow: 0 0 10px rgb(216, 235, 46);
    }
  } */
  
  .logo{
    height: 30px;
    width: 30px;
    justify-content: center;
    padding: 10px;
  }
  .header1{
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: 'Merienda';
    color: rgb(240, 8, 77);
    text-decoration: wavy;
    text-shadow: -1px 1px 0 black;
  }
  .complete{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1300px;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    
    
    
  }

  .container1{
    
    /* float: left; */
    padding-top: 5px;
    width: 100%;
    background-color: white;
    height: 50%;
    opacity: 0.8;
    justify-content: center;
    border-top-right-radius: 15px;
    border: none;
    /* border-bottom: 10px black; */
  }
  
  
  
  .container2{
    width: 100%;
    background-color:white;
    height:100%;
    border-bottom-right-radius: 15px;
    opacity: 0.8;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    overflow: hidden;
    overflow: hidden;
  }
    
    

  .navbar{
    display: flex;
    flex-direction: column;
    width:150px;
    height: 100%;
    background-color:white;
    opacity: 0.8;
    margin-right: 0;
  }
  
.inbtn{
  margin-left: 20px;
}
.save{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
}
.inputText{
  color: black;
  text-align: center;
}

.button{
 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  color:black;
  background-color: white;
  
}
.button1{
 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  color:black;
  background-color: white;
  
}
.download{
 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  color:black;
  background-color: whitesmoke;
  
}

.filename{
  height: 30px;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  color:black;
  font-size: 15px;
  border: 1px black;
  cursor: pointer;
  justify-content: center;
  font-family: 'Merienda';
}

.label{
  margin-top: 5px;
  margin-bottom: 3px;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
 h4{
   font-size: 24px;
 } 
 h5{
   font-size: 20px;
 }
h6{
  font-size: 16px;
}
/* #markdown{
  border-radius: 5px solid rgb(106,177,141);

} */
.texteditor{
  color: rgb(106, 9, 119);
}
.output{
  color: black;
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-top: 0px;
}
.output1{
  color:black;
  height: 100%;
}
.info{
  color: black;
  /* margin-top: 700px; */
  width: 20%;
  font-family: 'Merienda';
}
.textarea{
  width: 100%;
  background-color: rgb(106,177,141);
}

.App {
  text-align: center;
}
.background{
  background: linear-gradient(to right,#A38ED2,#F9C1EB);
  
  font-family: 'Merienda';
  height: 668px;
  background-repeat: repeat;
  
}
.auth1{
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.7;
  margin: 0;
  padding: 100px;
  padding-top: 0;
  
  /* padding-right: 100px; */
}
.auth{
  
  background-color: whitesmoke;
  height: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  width: 450px;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 5px 5px gray;
  
}
.illustration{
  border: 2px solid black;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 450px;
  height: 400px;
  margin: 100px;
  margin-left: 0;
  box-shadow: 5px 5px 5px gray;
}
.google{
  background: linear-gradient(to right,#A38ED2,#F9C1EB);
  border: 1px solid black;
  height: 35px;
  width: 300px;
  justify-content: flex-start;
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 7px;
  font-family: 'Merienda';
  
}
.line1{
  justify-content: center;
  height: 50px;
  margin-top: 0;
  margin-bottom: 5;
  margin-left: 110px;
  
}

.line2{
  justify-content: center;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 210px;
}
.line3{
  justify-content: center;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 95px;
  margin-right: 95px;
  color: black;
}
.login{
  background: linear-gradient(to right,#A38ED2,#F9C1EB);
  border: 1px solid black;
  height: 30px;
  width: 300px;
  /* justify-content: flex-start; */
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 0;
  border-radius: 7px;
  font-weight: bold;
  color: black;
  font-family: 'Merienda';
}
.signin{
  background: linear-gradient(to right,#A38ED2,#F9C1EB);
  border: 1px solid black;
  height: 30px;
  width: 300px;
  /* justify-content: flex-start; */
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 7px;
  font-family: 'Merienda';
}